* {
    font-family: 'Montserrat','Roboto, Oxygen, Ubuntu, Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
    
}

body {
    display: block;
    /* margin: 10px; */
} 
h1 {
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h2 {
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-family: 'Style Script', cursive; */

}

.container {
    width: 80%;
    margin: auto;
}

#reports-container {
    width: 100%
}

#addresses {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addresses>a {
    text-decoration: none;
    color: rgb(82, 163, 154)
}

#addresses>a:hover {
    color: white;
    background-color: rgb(82, 163, 154);
}

.map {
    margin: auto;
    margin-top: 15px;
    width: 800px;
    min-height: 600px;

}

.addreportmap {
    margin: auto;
    margin-top: 5px;
    min-height: 400px;
}

.detailsmap {
    margin: auto;
    width: 90%;
    height: 400px;
    margin-bottom: 5px;
}

h6 {
    padding-top: 20px;
    text-align: center;
}

a, li {
    color: #1C2579;
    font-weight:bolder;
}
.btn {
    background-color:  #1C2579;
}
span {
    font-weight: bolder;
}

#report-list {
    height: 600px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#report-list::-webkit-scrollbar {
    display: none;
}

.home-container {
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.footer-span {
    justify-content: right;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height:110px;
    
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 130px;
}

.fa-2x, .social {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2px 2px !important;
    
} 

#social {
    justify-content: center;
    align-items: center;
    align-content: center;
}  

    
.card-title {
    font-weight: 500;
}

.comments-header {
    text-decoration: underline;
}

.carousel {
    height: 700px !important;
    min-height: 600px;
}

#signup-form {
    margin: 10px;
    /* height: 800px; */
}

#login-form {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
} 

#carousel2 {
    min-height: 0;
    max-height: 300px;
}

#carousel2 > .carousel-item >img {
    object-fit: cover;
    width: 100%;
    height: 280px;
}

#id_description {
    min-height: 100px;
}